body{
    text-align:center;
    font-size:16px;
    color:#eef4f7;
    background:#209deb;
}

h4{
    font-size:30px;
}

img{
    width:250px;
    height:auto;
}
.tumor-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.tumor-card{
    background: white;
    color: black;
    padding: 15px;
    border-radius: 10px;
    width: 250px;
}

.tumor-card img{
    width: 100%;
    height: auto;
}